# Environment variables with secrets
.env
.env.local
.env.*.local

# Secret files
*.token
*.password
.unifi-password
.influxdb2-admin-*
temp/

influxdb-admin-token.txt
influxdb-explorer/config/config.json
